# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Training outputs
runs/

# Model weights
*.pt
*.onnx

# Logs
*.log

# System files
.DS_Store

# Video files
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
